.search-items {
  width: fit-content;
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}
.grid_content {
  height: 70vh;
  overflow: auto;
}
.alive {
  background-color: #2dff2d10 !important;
  box-shadow: 0px 0px 16px 3px #2dff2dcf !important;
}
.dead {
  background-color: #fa837a10 !important;
  box-shadow: 0px 0px 16px 3px #fa837a !important;
}
.unknown {
  background-color: #f0950d10 !important;
  box-shadow: 0px 0px 16px 3px #f0950d !important;
}
.flex {
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin: 30px auto;
}
.cardCharacter:hover img {
  transform: rotateY(180deg);
}
.button-search {
  background-color: #6fe335;
  color: #000;
}

.rick-and-mortyBg {
  background: linear-gradient(
    -45deg,
    #2dff8b10,
    #2dff2d10,
    #20cc2010,
    #fcc19110,
    #fa837a10,
    #f5463a10,
    #fac37a10,
    #ff9a1610,
    #f3670a10
  );
  background-size: 400% 400%;
  animation: bg-gradient 10s ease infinite;
}

@keyframes bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
