body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #1c8dd5;
}
.back-page {
  color: initial;
}
.back-page::before {
  content: '';
  width: 8px;
  height: 8px;
  display: inline-block;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(45deg);
  margin: 0 8px;
  vertical-align: middle;
}
